body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
}

.crimson-highlight{
    color: crimson;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.half-width img{
    width: 100%;
    animation: 3s ease-in-out .5s 1 slideInFromLeft;
    animation-fill-mode: both;
    position: relative;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}


section{
    height: 500px;
    padding-bottom: 150px;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
    
}


.link-button{
    text-decoration: none;
    font-weight: 800;
    background-image: linear-gradient( to right,#dc143c,#d60303);
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
}

.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    height: 80%;
}

#vertical-bar1{
    border-left: 13px solid;
    border-image: linear-gradient(to bottom, lightSalmon, tomato);
    border-image-slice: 1;    
}
#vertical-bar2{
    border-left: 13px solid;
    border-image: linear-gradient(to bottom, blue, cyan);
    border-image-slice: 1;
}

div img:hover{
    box-shadow: 10px 20px 40px cyan;
    transition: all 0.5s ease-in;
    border-radius: 10px;
}

footer{
    background-color: #263238;
}

footer div p{
    text-align: center;
    color: white; 
    padding: 2%;
    margin-bottom: 0;
}


